@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;
    background: #E8C2DB;
}

.voltar
{
    background-color: #627ABD;
    width: 80px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.096);
    border-radius: 25px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 15px;
    color: #ffffff;    
    cursor: pointer;
    position: absolute;
    left: 100px;
}

.voltar:hover{
    transform:scale(1.1);
}
.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem
{
    height: 72px;
}

.cabecalho-menu
{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color:#627ABD;
    font-weight: 400px;
    font-size: 18px;
    cursor: pointer;
}
.cabecalho-menu-item:hover{

      transform:scale(1.1)
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #93AAE8	;

}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap:32px;
}
.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400px;
    font-size: 64px;
    color:#627ABD;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color:#ffff;
}
table
{
    border: 1px solid #627ABD;
    border-collapse: collapse;
    margin: auto;
    padding: 30px;
}
th {
    padding: 5px 10px;
    border: 0.5px solid #627ABD;
    text-align: center;
    margin: auto;
    color: #627ABD;
    font-family: 'Sarala', sans-serif;
}
td
{
    padding:  5px 10px;
    border: 0.5px solid #627ABD;
    text-align: center;
    margin: auto;
    color: #627ABD;
    font-family: 'Sarala', sans-serif;

}
.rodape
{
    color: #ffff;
    height: auto;
    border-top: 0.4px solid #627ABD;
    padding: 32px;

}

.desenvolvido{
    color: #627ABD;
    font-family: 'Sarala', sans-serif;
    font-weight: 300px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
